.header-container{
    display: flex;
    height: 60px;
    background-color: rgb(15, 17, 17);
    gap: 10px;
    width: 100%;
}
body{
    margin: 0px;
    width: 100vh;
}
.logo{
    height: 60px;
}
.left-header{
    display: flex;
    align-items: center;
    padding: 0px 10px;
}
.location-country{
    font-weight: bold;
}
.location >*{
    color: white;
}
.location-deliver{
    color: #ccc;
    border-bottom: 1px solid red;
}
.location-icon{
    height: 18px;
}
.left-header > div{
    display: flex;
    align-items: flex-end;
}
.middle-header>select,.middle-header>input{
    height: 40px;
    border: 0px;
}
.middle-header>input{
    height: 38px;
    flex-basis: 800px;
}
.middle-header>select{
    border-radius: 5px 0px 0px 5px;
}
.middle-header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 800px;
    margin: 0px 20px;
}
.scan-image-header img,.search-icon img{
    height: 20px;
    min-width: 20px;
}
.scan-image-header{
    background-color: white;
    padding: 10px;
    max-height: 20px;
}
.search-icon{
    background-color: orange;
    padding: 10px;
    max-height: 20px;
    border-radius: 0px 5px 5px 0px;
}
.right-header{
    display: flex;
    justify-content: center;
    align-items: center;
}
#language-select{
    background-color: rgb(15, 17, 17);
    color: white;
    height: 16px;
}
.right-header > img[alt="usa flag"]{
    height: 18px;
}
.welcome-note{
    color: white;
}
#account-select{
    color: white;
    background-color: rgb(15, 17, 17);
    font-weight: bold;
}
.returns,.order{
    color: white;
}
.order{
    font-weight: bold;
}
.right-header > img[ alt="cart"]{
    height: 40px;
    margin-left: 20px;
}
#welcome-note-head{
    margin: 0px 20px;
}

.test{
    display: grid;
    grid-template: 3fr 1fr 4fr / 1fr 1fr 1fr;
    height: 800px;
}
.t1{
    /* background-color: yellow; */
    grid-area: 1/1/3/4;
    /* background-image: url("./assets/images/hero_image.jpg"); */
    /* background-size: cover; */
    width: 100%;
}

.t2{
    /* background-color: violet; */
    grid-area: 2/2/4/3
}
.t3{
    background-color: blue;
    /* order: 4; */
    grid-area: 2/3/4/4
}
.t4{
    background-color: chocolate;
    /* order: 5; */
    grid-area: 2/1/4/2
}